﻿@using Airlines.Bussines.Dto

@model AirlineDto

<div class="form-container" id="form-container">
    <fieldset class="form-fieldset">
        <legend>
            Add New Airline
        </legend>
        <form class="form" id="form" asp-action="AddNewAirline" asp-controller="Airlines" method="post">

            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" id="name" name="name" />
            <span asp-validation-for="@Model.Name" id="valid-name" class="text-danger"></span>

            <label asp-for="@Model.Founded"></label>
            <input asp-for="@Model.Founded" type="date" id="founded" name="founded" />
            <span asp-validation-for="@Model.Founded" id="valid-founded" class="text-danger"></span>

            <label asp-for="@Model.FleetSize"></label>
            <input asp-for="@Model.FleetSize" id="fleetsize" name="fleetsize" />
            <span asp-validation-for="@Model.FleetSize" id="valid-fleetsize" class="text-danger"></span>

            <label asp-for="@Model.Description"></label>
            <input asp-for="@Model.Description" id="description" name="description" />
            <span asp-validation-for="@Model.Description" id="valid-description" class="text-danger"></span>


            <button class="submit" type="submitB">
                Submit
            </button>
        </form>

    </fieldset>
</div>