﻿@using Airlines.Bussines.Dto
@model SearchDto

<div class="search-container">

    <form class="search-form" asp-controller="Airlines" asp-action="SearchAirline" method="post" asp-validation-summary="Model">
        <div class="search-menu">
            <input asp-for="@Model.SearchInput" id="searchInput" placeholder="Search...">
            <select class="search-field" id="searchField" asp-for="Filter">
                <option value="Name">Name</option>
                <option value="FleetSize">Fleet Size</option>
            </select>
        </div>
        <button class="search-button" id="submitButton">
            Search
        </button>
    </form>
</div>
