﻿@using Airlines.Bussines.Dto
@using Airlines.Persistance.Basic.Entities

@{
    ViewData["Title"] = "Airlines";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/js/showTable.js"></script>
    <script src="~/js/showForm.js"></script>
    <script src="~/js/airlines/validation.js"></script>
    <script src="~/js/animation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
}


@model X.PagedList.IPagedList<Airlines.Bussines.Dto.AirlineDto>

<div class="content">
    @await Html.PartialAsync("AddedSuccessfully")
    <div class="h2">  
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img class=sidebar src="~/assets/left sidebar.png" alt="">
        </a>
        <p class="text">Airlines</p>
    </div>

    <div class="table-topline" id="table-topline">
        @{
            SearchDto searchDto = new SearchDto();
        }

        @await Html.PartialAsync("AirlineSearch", searchDto)
        <div class="table-container" id="table">
            <table class="table">
                <tr class="titles">
                    <th>Name</th>
                    <th>Founded</th>
                    <th>Fleet Size</th>
                    <th>Description</th>
                </tr>

                @foreach (AirlineDto airline in Model)
                {
                    <tr>
                        <td>@airline.Name</td>
                        <td>@airline.Founded</td>
                        <td>@airline.FleetSize</td>
                        <td class="long-text">@airline.Description</td>
                    </tr>
                }

            </table>
        </div>
        <div class="pagination-container">

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <a href="@Url.Action("Index", "Airlines", new { page = i })" @(Model.PageNumber == i)>@i</a>

            }
            <button id="toggle" class="toggle">
            </button>
        </div>
    </div>

    <div class="show">
        <button class="show-button" id="show-button">
            Show Form
        </button>
    </div>

    @{
        AirlineDto airlineDto = new AirlineDto();
    }
    @await Html.PartialAsync("Add", airlineDto)
</div>