﻿@using Airlines.Bussines.Dto
@model FlightDto

<div class="form-container" id="form-container">
    <fieldset class="form-fieldset">
        <legend>
            Add New Flight
        </legend>
        <form class="form" id="form" asp-action="AddNewFlight" asp-controller="Flights" method="post">
            <label asp-for="@Model.Code"></label>
            <input asp-for="@Model.Code" id="code" name="code" />
            <span asp-validation-for="@Model.Code" class="text-danger" id="valid-code"></span>

            <label asp-for="@Model.DepartureAirportId"></label>
            <input asp-for="@Model.DepartureAirportId" id="from" name="from" />
            <span asp-validation-for="@Model.DepartureAirportId" class="text-danger" id="valid-depId"></span>

            <label asp-for="@Model.ArrivalAirportId"></label>
            <input asp-for="@Model.ArrivalAirportId" id="to" name="to" />
            <span asp-validation-for="@Model.ArrivalAirportId" class="text-danger" id="valid-arrId"></span>

            <div class="flight-date-container">
                <div class="departure-container">
                    <label asp-for="@Model.DepartureDateTime"></label>
                    <input asp-for="@Model.DepartureDateTime" id="departure" name="departure" />
                    <span asp-validation-for="@Model.DepartureDateTime" class="text-danger" id="valid-depDt"></span>
                </div>
                <div class="arrival-container">
                    <label asp-for="@Model.ArrivalDateTime"></label>
                    <input asp-for="@Model.ArrivalDateTime" id="arrival" name="arrival" />
                    <span asp-validation-for="@Model.ArrivalDateTime" class="text-danger" id="valid-arrDt"></span>
                </div>
            </div>
            <button class="submit" type="submit" id="submitBut">
                Submit
            </button>
        </form>

    </fieldset>
</div>