﻿@using Airlines.Bussines.Dto
@model SearchDto

<div class="search-container">

    <form class="search-form" asp-controller="Flights" asp-action="SearchFlight" method="post" asp-validation-summary="Model">
        <div class="search-menu">
            <input asp-for="@Model.SearchInput" id="searchInput" placeholder="Search...">
            <select class="search-field" id="searchField" asp-for="Filter">
                <option value="FlightNumber">Flight number</option>
                <option value="DepartureAirportId">Departure Airport</option>
                <option value="ArrivalAirportId">Arrival Airport</option>
                <option value="DepartureDateTime">Departure Date</option>
                <option value="ArrivalDateTime">Arrival Date</option>
            </select>
        </div>
        <button class="search-button">
            Search
        </button>
    </form>

</div>