﻿@using Airlines.Bussines.Dto
@using Airlines.Persistance.Basic.Entities

@{
    ViewData["Title"] = "Flights";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/js/showTable.js"></script>
    <script src="~/js/showForm.js"></script>
    <script src="~/js/flights/validation.js"></script>
    <script src="~/js/animation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
}

@model X.PagedList.IPagedList<Airlines.Bussines.Dto.FlightDto>

<div class="content">
    @await Html.PartialAsync("AddedSuccessfully")
    <div class="h2">
        <a asp-area="" asp-controller="Home" asp-action="Index">

            <img class=sidebar src="~/assets/left sidebar.png" alt="">
        </a>
        <p class="text">Flights</p>
    </div>
    <div class="table-topline" id="table-topline">
        @{
            SearchDto searchDto = new SearchDto();
        }
        @await Html.PartialAsync("FlightSearch", searchDto)
        <div class="table-container" id="table">
            <table class="table" id="table">
                <tr class="titles">
                    <th>Flight Number</th>
                    <th>Departure Airport</th>
                    <th>Arrival Airport</th>
                    <th>Departure Date Time</th>
                    <th>Arrival Date Time</th>
                </tr>
                @foreach (FlightDto flight in Model)
                {
                    <tr>
                        <td>@flight.Code</td>
                        <td>@flight.DepartureAirportId</td>
                        <td>@flight.ArrivalAirportId</td>
                        <td>@flight.DepartureDateTime</td>
                        <td>@flight.ArrivalDateTime</td>
                    </tr>
                }
            </table>
        </div>
        <div class="pagination-container">
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <a href="@Url.Action("Index", "Flights", new { page = i })" @(Model.PageNumber == i)>@i</a>

            }
            <button id="toggle" class="toggle">
            </button>
    </div>

    <div class="show">
            <button class="show-button" id="show-button">
            Show Form
        </button>
    </div>
    @{
        FlightDto flightDto = new FlightDto();
    }
    @await Html.PartialAsync("Add", flightDto)
</div>