﻿@using Airlines.Bussines.Dto
@section Styles {
    <link rel="stylesheet" href="~/css/index1.css" />
}

@model CountDto

<div class="content">
    <div class="h2">
        <p class="welcome">Welcome To Dashboard</p>
    </div>

    <div class="nav-links">
        <div class="entity-block">
            <div class="window">
                <p class="p1">
                    Airports
                </p>
                <img class="image" src="~/assets/mdi_airport.png" alt="Airports">
                <p class="p2">
                    @Model.AirportsCount
                </p>
            </div>
            <div class="add">
                <a class="add-button" asp-controller="Airports" asp-action="Index">
                    Add New Airport
                </a>
            </div>
        </div>
        <div class="entity-block">
            <div class="window">
                <p class="p1">
                    Airlines
                </p>
                <img class="image" src="~/assets/ri_plane-fill.png" alt="">
                <p class="p2">
                    @Model.AirlinesCount
                </p>
            </div>
            <div class="add">
                <a class="add-button" asp-controller="Airlines" asp-action="Index">
                    Add New Airline
                </a>
            </div>
        </div>

        <div class="entity-block">
            <div class="window">
                <p class="p1">
                    Flights
                </p>
                <img class="image" src="~/assets/carbon_flight-schedule.png" alt="">
                <p class="p2">
                    @Model.FlightsCount
                </p>
            </div>
            <div class="add">
                <a class="add-button" asp-controller="Flights" asp-action="Index">
                    Add New Flight
                </a>
            </div>
        </div>
    </div>
</div>