﻿* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    height: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 1.8rem;
    padding: 0.3rem;
    top: 0;
    position: fixed;
}

.links a {
    color: #fff;
    text-decoration: none;
    margin-right: 0.6rem;
}

    .links a:active {
        color: #fca311;
    }

.title {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 0.9rem;
    text-align: left;
}

.airplane {
    margin: 0.3rem;
}

.link {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #fff;
    font-size: small;
}

.h2 {
    display: flex;
    align-items: center;
}

.text {
    color: #000;
    font-size: 1.8rem;
    margin-left: 20%;
}

.sidebar {
    width: 7.5rem;
    height: 3.75rem;
    margin-left:18rem;
}

.titles {
    background-color: #f1f1f1;
    position: sticky;
    top: 0;
}

.search-container {
    width: 100%;
    height: 3rem;
    margin-bottom: 0.3rem;
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search-menu {
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
}

.search-container input {
    width: 80%;
    border: none;
    border-radius: 0.1rem;
    border: 1px solid;
    border-radius: 0.3rem;
}

.search-container input:hover {
    background-color: #f1f1f1;
}

.search-button {
    border: none;
    border-radius: 0.2rem;
    width: 25%;
    height:1.5rem;
    margin-top: 0.3rem;
    background-color: #fca311;
    color: #fff;
    font-weight:bold;
}
.search-field {
    width: 20%;
    border: 1px solid;
    border-radius: 0.3rem;
}

    .search-field:hover {
        background-color: #f1f1f1;
    }

.search-button:hover {
    background-color: #e09d2c;
}

.table-topline {
    margin: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    border-top: solid #f1f1f1;
    width: 35rem;
    padding-top: 0.6rem;
}

.table-container {
    width: 35rem;
    height: 20rem;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    table-layout: fixed;
}

.table {
    border-collapse: collapse;
    width: 100%;
}


    .table td, th {
        display: table-cell;
        padding: 0.4rem;
        text-align: center;
        border: solid 1px;
    }

.long-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 15rem;
}

    .long-text:hover {
        overflow: visible;
        text-overflow: inherit;
        white-space: normal;
    }


.form-container {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6rem;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    justify-content: center;
}

.form-fieldset {
    border: solid #f1f1f1;
    border-radius: 0.9rem;
    width: 30%;
}

.form input {
    width: 18rem;
    border-radius: 5px;
    border-color: #f1f1f1;
}

.form input:hover{
    background-color:#f1f1f1;
}

.form label {
    text-align: left;
}

.text-danger {
    color:red;
    display: inline-block;
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
}

.flight-date-container {
    display: flex;
    justify-content: space-between;
}

.departure-container {
    margin-right: 0.6rem
}

.flight-date-container input {
    width: 8.7rem;
}

.flight-date-container label {
    width: 100%;
    text-align: left;
}

.submit {
    text-align: center;
    margin-left: 0;
    margin-top: 0.6rem;
    margin-bottom: 0.9rem;
    border-radius: 0.6rem;
    width: 18rem;
    height: 2.5rem;
    background-color: #fca311;
    color: #fff;
    font-weight: bold;
    border: none;
}

    .submit:hover {
        background-color: #e09d2c;
    }

.show-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.6rem;
    border-radius: 0.6rem;
    width: 15rem;
    height: 2.5rem;
    background-color: #fca311;
    color: #fff;
    font-weight: bold;
    border: none;
}

.show {
    height: 2.5rem;
    width: 100%;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: center;
}

.show-button:hover {
    background-color: #e09d2c;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.error {
    text-align: center;
    color: #d8000c;
    background-color: #ffc2c2;
    border: 1px solid #d8000c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}


