﻿.header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 1.875rem;
    padding: 0.3rem;
    top: 0;
    position: fixed;
}


.links a {
    color: #fff;
    text-decoration: none;
    margin-right: 0.6rem;
}

    .links a:current {
        color: #fca311;
    }

.title {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 15px;
    text-align: left;
}

.airplane {
    margin: 0.3rem;
}

.link {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #fff;
    font-size: small;
}
