﻿.h2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 9.375rem;
    color: #000;
    font-size: 1.875rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin: 2.5rem;
    margin-bottom: 0.6rem;
    color: #000;
    border: solid #fca311;
    border-radius: 0.9rem;
    border-width: 1px;
}

.p1 {
    font-weight: bold;
    margin-bottom: 2rem;
}

.p2 {
    margin-top: 2rem;
    font-weight: bold;
}

.entity-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add {
    width: 13.7rem;
    height: 2rem;
    display: flex;
   /* align-items: center;*/
    padding-top: 0.1rem;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border: none;
    background-color: #f1f1f1;
    text-decoration: none;
    color: #000;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    font-weight: bold;
}

    .add-button:hover {
        background-color: #d9d6d6;
    }
