﻿@using Airlines.Bussines.Dto
@model AirportDto


<div class="form-container" id="form-container">
    <fieldset class="form-fieldset">
        <legend>
            Add New Airport
        </legend>
        <form class="form" id="form" asp-action="AddNewAirport" asp-controller="Airports" method="post" asp-validation-summary="Model">
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" id="name" name="name" />
            <span asp-validation-for="@Model.Name" id="valid-name" class="text-danger"></span>

            <label asp-for="@Model.Country"></label>
            <input asp-for="@Model.Country" id="country" name="country" />
            <span asp-validation-for="@Model.Country" id="valid-country" class="text-danger"></span>

            <label asp-for="@Model.City"></label>
            <input asp-for="@Model.City" id="city" name="city" />
            <span asp-validation-for="@Model.City" class="text-danger" id="valid-city"></span>

            <label asp-for="@Model.Code"></label>
            <input asp-for="@Model.Code" id="code" name="code" />
            <span asp-validation-for="@Model.Code" id="valid-code" class="text-danger"></span>

            <label asp-for="@Model.RunwaysCount"></label>
            <input asp-for="@Model.RunwaysCount" id="runwaysCount" name="runwaysCount" />
            <span asp-validation-for="@Model.RunwaysCount" id="valid-runways" class="text-danger"></span>

            <label asp-for="@Model.Founded"></label>
            <input asp-for="@Model.Founded" id="founded" name="founded" />
            <span asp-validation-for="@Model.Founded" id="valid-founded" class="text-danger"></span>

            <button class="submit" type="submit", id="submit">
                Submit
            </button>
        </form>
        @*   @section Scripts {
        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        } *@

    </fieldset>
</div>

