﻿@using Airlines.Bussines.Dto
@model SearchDto

<div class="search-container">

    <form class="search-form" asp-controller="Airports" asp-action="SearchAirport" method="post" asp-validation-summary="Model">
        <div class="search-menu">
            <input asp-for="@Model.SearchInput" id="searchInput" placeholder="Search...">
            <select class="search-field" id="searchField" asp-for="Filter">
                <option value="Name">Name</option>
                <option value="Country">Country</option>
                <option value="City">City</option>
            </select>
        </div>
        <button class="search-button">
            Search
        </button>
    </form>

</div>
