﻿@using Airlines.Bussines.Dto
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Airlines.Persistance.Basic.Entities
@using PagedList.Mvc

@{
    ViewData["Title"] = "Airports";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/js/showTable.js"></script>
    <script src="~/js/showForm.js"></script>
    <script src="~/js/animation.js"></script>
    <script src="~/js/airports/validation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
}


@model X.PagedList.IPagedList<Airlines.Bussines.Dto.AirportDto>
@{
    AirportDto airportDto = new AirportDto();
}
<div class="content">
    @await Html.PartialAsync("AddedSuccessfully")
    <div class="h2">

        <a asp-controller="Home" asp-action="Index">
            <img class=sidebar src="~/assets/left sidebar.png" alt="">
        </a>
        <p class="text">Airports</p>
    </div>
    @{
        SearchDto searchDto = new SearchDto();
    }
    <div class="table-topline" id="table-topline">
        @await Html.PartialAsync("AirportSearch", searchDto)
        <div id="table" class="table-container">
            <table class="table">
                <tr class="titles">
                    <th>Name</th>
                    <th>Code</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Runways Count</th>
                    <th>Founded</th>
                </tr>
                @foreach (AirportDto airport in Model)
                {
                    <tr>
                        <td>@airport.Name</td>
                        <td>@airport.Code</td>
                        <td>@airport.City</td>
                        <td>@airport.Country</td>
                        <td>@airport.RunwaysCount</td>
                        <td>@airport.Founded</td>
                    </tr>
                }

            </table>
        </div>
        <div class="pagination-container">

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <a href="@Url.Action("Index", "Airports", new { page = i })" @(Model.PageNumber == i)>@i</a>

            }
            <button id="toggle" class="toggle">
            </button>
        </div>
    </div>
    <div class="show">
        <button class="show-button" id="show-button">
            Show Form
        </button>
    </div>
    @await Html.PartialAsync("Add", airportDto)
</div>