﻿
<head>
    <link href="~/css/header.css" rel="stylesheet" />
</head>

<div class="header">
    <div class="title">
        <p>Rise Airlines</p>
        <img class="airplane" src="~/assets/header-plane.png" alt="">
    </div>

    <div class="link">
        <ul class="links">
            <a  asp-controller="Airports" asp-action="Index">Airports</a>
            <a  asp-controller="Airlines" asp-action="Index">Airlines</a>
            <a  asp-controller="Flights" asp-action="Index">Flights</a>
        </ul>
    </div>
</div>