﻿* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 1.875rem;
    padding: 0.3rem;
    top: 0;
    position: fixed;
}

.content {
    height: 90%;
    margin-top: 2rem;
}

.links a {
    color: #fff;
    text-decoration: none;
    margin-right: 0.6rem;
}

    .links a:current {
        color: #fca311;
    }

.title {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 15px;
    text-align: left;
}

.airplane {
    margin: 0.3rem;
}

.link {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #fff;
    font-size: small;
}

.h2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 9.375rem;
    color: #000;
    font-size: 1.875rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin: 2.5rem;
    margin-bottom: 0.6rem;
    color: #000;
    border: solid #fca311;
    border-radius: 0.9rem;
    border-width: 1px;
}

.p1 {
    font-weight: bold;
    margin-bottom: 2rem;
}

.p2 {
    margin-top: 2rem;
    font-weight: bold;
}

.entity-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add {
    width: 13.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button {
    width: 100%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border: none;
    background-color: #f1f1f1;
    border: solid #f1f1f1;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    font-weight: bold;
}

    .add-button:hover {
        background-color: #d9d6d6;
    }

.footer {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 1.875rem;
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
    bottom: 0;
    position: fixed;
}
