﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/layout..css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/entityStyle.css" />
    @RenderSection("Styles", required: false)
    <title>RiseAirlines</title>
</head>
<body>

    @await Html.PartialAsync("_HeaderPartialView")

    @RenderBody()
    @RenderSection("Scripts", required: false)
    <footer>
        <p class="footer">
            Rise Airlines 2024 ©
        </p>
    </footer>
</body>
</html>