﻿@if (TempData["Successful"] != null)
{
    <div id="success" class="success">@TempData["Successful"]</div>
}
@if (TempData["Unsuccessful"] != null)
{
    <div id="error" class="error">@TempData["Unsuccessful"]</div>
}
